@charset "UTF-8";

@media screen and (min-width: 1050px){

    :root{
        --VeryDarkBlue: hsl(243, 87%, 12%);
        --DesaturatedBlue: hsl(238, 22%, 44%);
        
        --BrightBlue: hsl(224, 93%, 58%);
        --ModerateCyan: hsl(170, 45%, 43%);
        
        --LightGrayishBlue: hsl(240, 75%, 98%);
        --LightGray: hsl(0, 0%, 75%);
        }


    header{
        padding: 30px 50px;
    }

    .fylo-header-icon{
        width: 200px;
    }

    header ul{
        font-size: 16px;
        gap: 80px;
    }

    main{
        margin: 0px;
        text-align: none;
        text-align: left;
    }

    .seçãoArquivos,.seçãoProdução{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;


        padding: 70px 0px;
        padding-left: 70px;
        padding-right: 40px;     
        
    }

    .ilustração{
        min-width: 400px;
        max-width: 600px;
        align-self: flex-start;
    }

    .conteudo{
        max-width: 500px;
        min-width: 400px;
        
    }
    
    .seçãoArquivos{
        margin-bottom: 30px;
    }

    .seçãoArquivos h1{
        font-size: 2.3em;
        
    }
    
    .seçãoProdução{
        background-image: url(../images/bg-curve-desktop.svg);
        
    }

    .seçõesPrincipais h2{
        font-size: 2.3em;
        margin: 0px;
    }
        
    .primeiroEmail{
        display: flex;
        gap: 15px;
    }

    label{
        text-align: center;
        width: 150px;
        height: 20px;
    }

    .segundoEmail label{
        width: 200px;
    }

    input[type=email]{
        width: 250px;
    }

    .perfil img{
        width: 50px;
    }

    .comoFunciona{
        margin: 0px;
        border-bottom: 1px solid green;
        width: 178.6px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .seçãoAcessToday{
        display: flex;
        justify-content: space-between;
        padding: 80px 70px;
        margin-top: 3;
        align-items: center;
    }

   .seçãoAcessToday h2{
        font-size: 2em;
   }

    .textoAcessToday{
        width: 500px;
    }

    .segundoEmail{
        display: flex;
        flex-direction: column;
    }

    .segundoEmail input[type=email]{
        width: 400px;
    }

    label{
        color: var(--LightGrayishBlue);
        font-weight: 700;
    }

    footer{
        display: flex;
        flex-direction: row;
        gap: 170px;

        padding: 80px 50px;
    }

}