@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;


}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{


--VeryDarkBlue: hsl(243, 87%, 12%);
--DesaturatedBlue: hsl(238, 22%, 44%);

--BrightBlue: hsl(224, 93%, 58%);
--ModerateCyan: hsl(170, 45%, 43%);

--LightGrayishBlue: hsl(240, 75%, 98%);
--LightGray: hsl(0, 0%, 75%);
}


body{
    height: 100vh;
}

                                    /* CABEÇALHO */
header{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Raleway', sans-serif;

}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

header ul li a{
    font-weight: 400;
    text-decoration: none;
    color: var(--DesaturatedBlue);
}

.fylo-header-icon{
    width: 100%;
    min-width: 100px;
    max-width: 160px;
}

                                    /* PRINCIPAL */

main{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    box-sizing: border-box;
    margin: auto;
}

.ilustração{
    width: 100%;
    min-width: 320px;
    max-width: 500px;
}

.seçãoArquivos, .seçãoProdução{
    padding: 20px;

}

.seçãoProdução{
    background-image: url(../images/bg-curve-mobile.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.seçõesPrincipais h1{
    color: var(--VeryDarkBlue);
    font-size: 1.8em;
    font-weight: 700;
    line-height: 40px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.seçõesPrincipais p{
    color: var(--DesaturatedBlue);
    margin: 30px 0px;
    font-weight: 400;
    line-height: 23px;

}


.seçãoProdução p{
    text-align: left;
}

.seçõesPrincipais h2{
    font-size: 1.3em;
    margin-top: 100px;
    color: var(--VeryDarkBlue);
}

main label{
    box-shadow: 0px 3px 10px rgba(0, 0, 255, 0.253);
}

input[type=email]{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.144);
}

input[type=email]{
    width: 86%;
    max-width: 300px;
    padding: 10px 15px;
    font-size: 1em;
    border: 1px solid rgba(0, 0, 0, 0.301);
    margin-bottom: 20px;
    border-radius: 4px;
}

label{
    padding: 10px 16px;
    width: 86%;
    max-width: 300px;
    border: none;
    background-color: var(--BrightBlue);
    display: inline-block;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
}

label:hover{
    opacity: 0.9;
}

.checarEmail{
    display: none;
    color: red;
    margin: 0px;
}

input[type=email]:focus{
    outline: none;
    border: 1px solid red;
}

.primeiroEmail a{
    text-decoration: none;
    color: var(--LightGrayishBlue);
    font-size: 16px;
    font-weight: 700;
}

.comoFunciona{
    margin: auto;
    border-bottom: 1px solid green;
    width: 178.6px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.acessar{
    text-decoration: none;
    color: green;
    padding: 10px 0px;
}

.blocoDecitação{    

    max-width: 290px;
    margin-top: 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.089);
    padding: 30px;
    
}

.blocoDecitação p{
    color: var(--VeryDarkBlue);
    line-height: 28px;
    font-weight: 400;
}

blockquote:before{
    content: url(../images/icon-quotes.svg);
    margin-right: 96%;
}

.perfil{
    display: flex;
    align-items: center;
    gap: 10px
}
.blocoDecitação img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nomeEcargo{
    display: flex;
    flex-direction: column;
    gap: -10px;

}

p#nome{
    margin: 0px;
    margin-bottom: -7px;
    font-size: 16px;
    font-weight: 700;
    color: var(--VeryDarkBlue);
}

p#cargo{
    margin: 0px;
    font-size: 12px;
    font-weight: 700;
    color: var(--DesaturatedBlue);
}

.seçãoAcessToday{
    background-color: var(--DesaturatedBlue);
    padding: 50px;
}

.seçãoAcessToday h2{
    margin-bottom: 20px;
    
    color: var(--LightGrayishBlue);
}

.seçãoAcessToday input[type=email]{
    width: 86%;
    max-width: 300px;
    margin-bottom: 10px;
}

.seçãoAcessToday p{
    color: var(--LightGrayishBlue);
    margin-bottom: 25px;
    line-height: 24px;
}

.seçãoAcessToday a{
    color: var(--LightGrayishBlue);
    font-weight: 700;
}

.seçãoAcessToday label{
    width: 86%;
    max-width: 300px;
    color: var(--LightGrayishBlue);
    font-weight: 700;
}

footer{
    background-color: var(--VeryDarkBlue);
    padding: 60px 50px 30px 50px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    
}

footer svg{
    margin-bottom: 30px;
}

footer p{
    color: var(--LightGrayishBlue);    
}

footer p#telefone{
    margin-bottom: 15px;
}

footer p#telefone:before{
    content: url(../images/icon-phone.svg);
    margin-right: 15px;
}

footer p#emailContato:before{
    content: url(../images/icon-email.svg);
    margin-right: 15px;
}

footer .contatosEsuporte1, .contatosEsuporte2{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 50px;
}

footer .contatosEsuporte1 a, .contatosEsuporte2 a{
    text-decoration: none;
    color: var(--LightGrayishBlue);
    padding: 0px;
}

footer .contatosEsuporte1 a:hover, .contatosEsuporte2 a:hover{
    color: var(--BrightBlue);
    transition-duration: 500ms;
}

footer .redesSociais{
    display: flex;
    gap: 30px;
    justify-content: center;

    margin-top: 50px;
}

footer .redesSociais svg{
    border: 1px solid white;
    padding: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;

}

footer .redesSociais path{
    fill: var(--LightGrayishBlue);
}


footer .redesSociais svg:hover path{
    border: 1px solid var(--BrightBlue);
    fill: var(--BrightBlue)
}

footer .redesSociais svg:hover{
    border: 1px solid var(--BrightBlue);
}